[submodule "solarized/dircolors-solarized"]
	path = solarized/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
